doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='JQuery/jquery-2.1.4.min.js')
    script(src='JQuery/functionJQuery.js')
    
  body
    block content
    
